

.box-custom{
    height: 270px;
    border-radius: 16px;
    background-color: var(--dsc-color-card-bg);
    padding-left: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.box-custom h2{
    font-size: 38px;
    color: var(--dsc-color-font-quaternary);
    font-weight: 500;
    margin-bottom: 12px;
}

.box-custom input{
    width: 300px;
    height: 40px;
    padding-left: 17px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
     border: 1px solid var( --dsc-color-card-border);
}

.box-custom input::placeholder{
    color: var(--dsc-color-card-placeholder);

}

