

.btn-standard {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--dsc-color-bg-primary);
    color: var(--dsc-color-font-primary);
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    height: 40px;
    width: 100px;
    border: none;
    cursor: pointer;
}