@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dsc-color-bg-primary: #1890FF;
  --dsc-color-bg-secondary: #ffe500;
  --dsc-color-bg-tertiary: #636363;
  --dsc-color-bg-quaternary: #0caf1d;

  --dsc-color-card-bg: #E6F7FF;
  --dsc-color-card-br: #F5F5F5;
  --dsc-color-card-placeholder: #BFBFBF;
  --dsc-color-card-border: #D9D9D9;

    --dsc-color-hover: blue;



  --dsc-color-font-primary:  #FFFFFF;
  --dsc-color-font-secondary: #000000;
  --dsc-color-font-tertiary:  #7E7E7E;
  --dsc-color-font-quaternary: #262626;
  --dsc-color-font-alternative: #737373;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
  }

  a,
a:hover {
  text-decoration: none;
  color: unset;
}

.nav-container{
    width: 100%;
    max-width: 423px;
    margin: 0 auto;

}

.search-container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}  
  

.mt-27{
    margin-top: 27px;
}

.ml-41{
    margin-left: 41px;
}


.mt-54{
    margin-top: 54px;
}

.ml-41{
    margin-left: 41px;
}