@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
  }

  a,
a:hover {
  text-decoration: none;
  color: unset;
}

.nav-container{
    width: 100%;
    max-width: 423px;
    margin: 0 auto;

}

.search-container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}  
  

.mt-27{
    margin-top: 27px;
}

.ml-41{
    margin-left: 41px;
}


.mt-54{
    margin-top: 54px;
}

.ml-41{
    margin-left: 41px;
}